<div id="main-left" class="ui-layout-west">
    <div class="left-space">
        <h4 class="text-center"><i class="fa fa-recycle"></i> 回收站</h4>
        <hr>
        <ul class="nav nav-sidebar menu-nav">
            {{range $space := .spaces}}
            <li {{if eq $.current_space_id $space.space_id}}class="active"{{end}}>
                <a href="/recycle/index?space_id={{$space.space_id}}" target="mainFrame">
                    <i class="fa fa-cube"></i>&nbsp;&nbsp;{{$space.name}}
                </a>
            </li>
            {{end}}
        </ul>
    </div>
</div>
<iframe class="ui-layout-center" id="mainFrame" name="mainFrame" width="100%" frameborder="0" scrolling="yes" style="overflow-y: auto" src="/recycle/list?space_id={{.current_space_id}}"></iframe>
